<table border="0">
  <tr><th>line</th><th>author</th></tr>
  <%- @blame.each do |commit| -%>
  <%- commit[1].each do |line| -%>
  <tr><td><%=h Grit::Actor.from_string(commit[0].author_string) %></td><td><%=h line %></td></tr>
  <%- end -%>
  <%- end -%>
</table>

<%= link_to 'Back', wiki_page_path(@page.lang, @page.url, :version => @page.version) %>
